* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 64, 64);
}

.navbar {
  width: 90vw;
  height: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-title {
  font-size: 5vw;
  color: aliceblue;
  margin-top: -0.5vw;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style: none;
  gap: 2vw;
}

.navbar-item {
  font-size: 2vw;
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
  border-right: 2px aliceblue solid;
  padding-right: 1.5vw;
  font-weight: 800;
}
.calculator-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1vw;
}

.calculator-title {
  width: 100%;
}

.lets-do {
  color: rgb(216, 203, 203);
  font-size: 3.5vw;
  font-weight: 800;
  margin-top: 5vw;
}

.calc-container {
  width: 28vw;
  height: 29.6vw;
  margin-top: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15vw;
}

.display {
  width: 100%;
  height: 3vw;
  background-color: rgb(129, 122, 122);
  border-bottom: 1px rgb(124, 119, 119) solid;
  text-align: right;
  font-size: 3vw;
  padding-bottom: 0.5vw;
  color: white;
}

.numbers {
  display: grid;
  grid-template-rows: 5vw 5vw 5vw 5vw 5vw;
  grid-template-columns: 7vw 7vw 7vw 7vw;
  gap: 0;
}

.number-buttons {
  text-align: center;
  background-color: rgb(216, 203, 203);
  border-top: 0.5px rgb(124, 119, 119) solid;
  border-right: 0.5px rgb(124, 119, 119) solid;
  font-weight: 800;
  color: black;
  cursor: pointer;
}

.number-buttons-zero {
  grid-row: 5;
  grid-column: 1 / span 2;
  border-left: none;
  border-top: 0.5px rgb(124, 119, 119) solid;
  border-right: 0.5px rgb(124, 119, 119) solid;
  background-color: rgb(216, 203, 203);
  font-weight: 800;
  color: black;
  text-align: center;
  cursor: pointer;
}

.number-buttons-zero:hover {
  background-color: #ddd;
}

.calc-container .keyboard .numbers .number-buttons:hover,
.calc-container .keyboard .numbers .button:hover {
  background-color: #ddd;
}

.operators {
  background-color: rgb(241, 175, 52);
  font-weight: 800;
  color: black;
  border-top: 0.5px rgb(124, 119, 119) solid;
  border-left: 0.5px rgb(124, 119, 119) solid;
  cursor: pointer;
}

.operators:hover {
  background-color: #ddd;
}

button {
  border: none;
}

.quotes {
  width: 80vw;
  height: auto;
  margin-left: 10vw;
  margin-top: 15vw;
}

.quote-text {
  color: rgb(228, 219, 219);
  font-weight: 800;
  font-size: 2.5vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.author {
  color: rgb(235, 88, 88);
  font-weight: 800;
  font-size: 2.5vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.status {
  margin-left: 35vw;
  margin-top: 15vw;
  color: rgb(228, 219, 219);
  font-weight: 800;
  font-size: 2.5vw;
}
